<p>not-found works!</p>

<ul>
    <li routerLink="/authLazy/login">
        Ir a Login 
    </li>
    <li routerLink="/authLazy/enroll">
        Ir a Registro
    </li>
    <li routerLink="/pokedex/agregar">
        Ir a Agregar
    </li>
    <li routerLink="/pokedex/buscar">
        Ir a Buscar
    </li>
    <li routerLink="/pokedex/lista">
        Ir a Lista
    </li>
    <li routerLink="/pokedex/pokemon/1">
        Ir a Pokemon
    </li>
    <li routerLink="/pokedex/pokedex">
        Ir a Pokedex
    </li>
</ul>

<br>
<button (click)="login()">Login</button>
<button (click)="logout()">Logout</button>
<br>
<p>{{showSession()}}</p>